*{margin: 0px;
 padding: 0px;
 font-family: "colibri";
 box-sizing: border-box;
}
ul{
      list-style: none;
}
a{
      text-decoration: none !important;
}

nav{
      position: fixed;
}

ul li a{
      padding: 30px !important;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
}
.navbar img{
      border-radius: 50%;
      height: 90px; 
      width: 90px; 
}

section{
      padding: 10px;
      text-align: center;
      background: border-box;
      background-color: whitesmoke;
      border-radius:30px ;
      width: 90%;
      display: flex;
      position: relative;
      margin: -5% auto 20px auto;
      z-index: 1;
}

.about-container img{
      border-radius:50px ;
}
.about-container{
      font-size: 30px;
      width: 95%;
      text-align: center;
      text-transform:uppercase ;
}
.about-text p:nth-child(1){
      color: red;
      font-size: 33px;
}
.about-text p:nth-child(2){
      color: green;
      font-size:26px ;
}
.about-text p:nth-child(4){
      font-size: 25px;
      color: slategray;
      text-transform:lowercase ;
}
.about-text p:nth-child(5){
      text-transform: lowercase;
      color: red;
}
.about-text button{
      height: 40px;
      width:140px ;
      color: #FFFF;
      font-size:14px ;
      font-weight:bold ;
      outline:none ;
      border-radius:5px;
      background-color: black;

}
button:active{
      transform:scale(1.4);
     }


.services{
      height:auto;
      background-color: #FFFF;
      padding: 5%  10% 5% 10% ;
}
.services-text p:nth-child(1){
      color: #3d3e3e;
      font-family:calibri;
      font-weight: bold;
      font-size: 30px;
      line-height:0px;
}
.services-text p:nth-child(2){
      color: #3d3e3e;
      font-family:calibri;
      font-weight: bold;
      font-size: 15px;
      line-height:5px;
}
.services-text p:nth-child(3){
      color: #7e7d7d;
      font-family:calibri;
}
.services-text{
      width: 500px;
      margin: 50px 0;

}
.box-1,.box-2,.box-3{
      width:85%;
      height: 320px;
      background-repeat: no-repeat;
      background-size:cover ;
 box-shadow:2px 2px 12px rgba(0,0,0,0.3) ;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-family: calibri;
      flex-grow:1 !important;
      flex-wrap: 3;
}
.box-container{
      display: flex;
      justify-content: space-between;
}
.box-1{
      background-image: url(../image/services-1.jpg);
}
.box-2{
      background-image: url(../image/services-2.jpg);
}
.box-3{
      background-image: url(../image/servies-3.jpg);
}
.box-1 span,
.box-2 span,
.box-3 span{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ffff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: calibri;
      font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
      color: #ffff;
      font-family:calibri ;
      font-size: 23px;
      line-height: 10px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
      color: #8f8f8f;
      font-family:calibri ;
      font-size: 23px;
     width: 238px;
     margin: 0px 0px 20px 0px;
}
.box-1 button,
.box-3 button,
.box-2 button{
      width: 100px;
      height: 30px;
      background-color: #FFFF;
      border: none;
      outline: none;
      border-radius:7px ;
}

@media(max-width:750px){
      .services{
            padding: 2% 5px 0px 5%;
      }
      .box-container{
            justify-content: center;
            flex-wrap: wrap;
      }
      .services{
            height: auto;
      }
      .box-1,.box-2,.box-3{
            flex-grow: 1;
            margin: 10px;
      }
      .sprots{
            padding: 15px;
            justify-content: center;
      }
      .sprots card{
            padding:10px  !important;
      }
}

@media(max-width:1200px){
      .services{
            padding: 2% 5px 0px 2%;
      }
      .box-container{
            justify-content: center;
            flex-wrap: wrap;
      }
      .services{
            height: auto;
      }
      .box-1,.box-2,.box-3{
            flex-grow:2;
            margin: 10px;
      }
}

@media(max-width:1450px){
      .services{
            padding: 2% 5px 0px 2%;
      }
      .box-container{
            justify-content: center;
            flex-wrap: wrap;
      }
      .services{
            height: auto;
      }
      .box-1,.box-2,.box-3{
            flex-grow: 3;
            margin: 10px;
      }
}





.contact-me{
      width: 100%;
      height: 280px;
      background-image: url("../image/project\ in\ your\ mind.png");
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.contact-me p{
      color: #FFFF;
      font-size: 30px;
      font-family: calibri;
      font-weight: bold;
      border-bottom: 2px solid #fff;
}
.contact-me button{
      width: 200px;
      height: 40px;
      background-color: #FFFF;
      border: none;
      outline: none;
     font-weight: bold;
      font-size: 14px;
}



section1{
      padding: 10px;
      display: flex;
      background-color: wheat;
      border-radius:30px;
      width: 95%;
     text-align: center;
      margin: 2% auto 20px auto;
}



footer{
      height: 340px;
      background-color:#8f8f8f;
      text-align: center !important;
      font-size: larger;
      font-weight: bolder;
      padding: 15px;

}

footer p:nth-child(1){
      font-size: 30px;
      font-weight: bold;
      color: #191919;
      line-height: 30px;
}
footer p:nth-child(2){
      font-size: 25px;
      color: rgba(59, 136, 59, 0.867);
      background-color: snow;
      border-radius: 30px;
}
.social-icons{
      text-align: center;
}
.social-icons ul{
      display: flex;
      padding:0px 0px;
}

.social-icons ul li a{
      height: 30px;
      width: 30px;
      background-color:#e6e3e3;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 20px 20px;    
}




.fa-facebook{
      color: navy;
}
.fa-phone{
      color:green;
}
.fa-youtube{
      color: red;
}





.a-social-bar{
      position: fixed;
      top: 50%;
      right: 0px;
      transform: translatey(-50%);
      z-index: 2;
}
.a-social-bar a{
      height: 50px;
      width: 50px;
      background-color:#ffff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 1px solid #cbcbcb;
      margin: 0px;
      line-height: 0px;
      box-shadow: 2px 2px 12px rgba(0,0,0,0,2);
} 

.photo{
      padding:0px 9px ;
}
.thumbnail p{
      color: rgb(235, 15, 15);
      text-align: center;
      font-weight: bolder;
      font-size: 25px;
}
.thumbnail p:hover{
      color: green;
}

